WebRoot/WEB-INF/wsdl/EmployeeServerInterfaceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeServerInterfaceService" targetNamespace="http://server.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server.com/" schemaLocation="EmployeeServerInterfaceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getPosition">
    <part element="tns:getPosition" name="parameters"/>
  </message>
  <message name="getPositionResponse">
    <part element="tns:getPositionResponse" name="parameters"/>
  </message>
  <message name="getRoles">
    <part element="tns:getRoles" name="parameters"/>
  </message>
  <message name="getRolesResponse">
    <part element="tns:getRolesResponse" name="parameters"/>
  </message>
  <message name="getEmpfromrole">
    <part element="tns:getEmpfromrole" name="parameters"/>
  </message>
  <message name="getEmpfromroleResponse">
    <part element="tns:getEmpfromroleResponse" name="parameters"/>
  </message>
  <message name="getEmployee">
    <part element="tns:getEmployee" name="parameters"/>
  </message>
  <message name="getEmployeeResponse">
    <part element="tns:getEmployeeResponse" name="parameters"/>
  </message>
  <message name="loginVerify">
    <part element="tns:loginVerify" name="parameters"/>
  </message>
  <message name="loginVerifyResponse">
    <part element="tns:loginVerifyResponse" name="parameters"/>
  </message>
  <message name="getAllEmployees">
    <part element="tns:getAllEmployees" name="parameters"/>
  </message>
  <message name="getAllEmployeesResponse">
    <part element="tns:getAllEmployeesResponse" name="parameters"/>
  </message>
  <message name="getAllCapacities">
    <part element="tns:getAllCapacities" name="parameters"/>
  </message>
  <message name="getAllCapacitiesResponse">
    <part element="tns:getAllCapacitiesResponse" name="parameters"/>
  </message>
  <message name="getAllOrgs">
    <part element="tns:getAllOrgs" name="parameters"/>
  </message>
  <message name="getAllOrgsResponse">
    <part element="tns:getAllOrgsResponse" name="parameters"/>
  </message>
  <message name="getAllPositions">
    <part element="tns:getAllPositions" name="parameters"/>
  </message>
  <message name="getAllPositionsResponse">
    <part element="tns:getAllPositionsResponse" name="parameters"/>
  </message>
  <message name="getAllRoles">
    <part element="tns:getAllRoles" name="parameters"/>
  </message>
  <message name="getAllRolesResponse">
    <part element="tns:getAllRolesResponse" name="parameters"/>
  </message>
  <message name="getEmployeeNum">
    <part element="tns:getEmployeeNum" name="parameters"/>
  </message>
  <message name="getEmployeeNumResponse">
    <part element="tns:getEmployeeNumResponse" name="parameters"/>
  </message>
  <portType name="EmployeeServerInterfaceDelegate">
    <operation name="getPosition">
      <input message="tns:getPosition"/>
      <output message="tns:getPositionResponse"/>
    </operation>
    <operation name="getRoles">
      <input message="tns:getRoles"/>
      <output message="tns:getRolesResponse"/>
    </operation>
    <operation name="getEmpfromrole">
      <input message="tns:getEmpfromrole"/>
      <output message="tns:getEmpfromroleResponse"/>
    </operation>
    <operation name="getEmployee">
      <input message="tns:getEmployee"/>
      <output message="tns:getEmployeeResponse"/>
    </operation>
    <operation name="loginVerify">
      <input message="tns:loginVerify"/>
      <output message="tns:loginVerifyResponse"/>
    </operation>
    <operation name="getAllEmployees">
      <input message="tns:getAllEmployees"/>
      <output message="tns:getAllEmployeesResponse"/>
    </operation>
    <operation name="getAllCapacities">
      <input message="tns:getAllCapacities"/>
      <output message="tns:getAllCapacitiesResponse"/>
    </operation>
    <operation name="getAllOrgs">
      <input message="tns:getAllOrgs"/>
      <output message="tns:getAllOrgsResponse"/>
    </operation>
    <operation name="getAllPositions">
      <input message="tns:getAllPositions"/>
      <output message="tns:getAllPositionsResponse"/>
    </operation>
    <operation name="getAllRoles">
      <input message="tns:getAllRoles"/>
      <output message="tns:getAllRolesResponse"/>
    </operation>
    <operation name="getEmployeeNum">
      <input message="tns:getEmployeeNum"/>
      <output message="tns:getEmployeeNumResponse"/>
    </operation>
  </portType>
  <binding name="EmployeeServerInterfacePortBinding" type="tns:EmployeeServerInterfaceDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getPosition">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRoles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEmpfromrole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEmployee">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="loginVerify">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllEmployees">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllCapacities">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllOrgs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllPositions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllRoles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEmployeeNum">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EmployeeServerInterfaceService">
    <port binding="tns:EmployeeServerInterfacePortBinding" name="EmployeeServerInterfacePort">
      <soap:address location="http://localhost:8080/demo/EmployeeServerInterfacePort"/>
    </port>
  </service>
</definitions>
